*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    color: white;
    padding: 10px;
}

h1,ul,li{
    display: inline;
}
ul{
    margin-left: 60%;
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}

input{
    margin-top: 25px;
    padding: 10px;
    width: 50%;
   
}
.searchbar{
    text-align: center;
}

.box{

    border: solid;
    border-color: black;
    margin-top: 100px;
    border-width: 2px;
    display: inline-block;
    width: 200px;
   
}
   


.products{

    text-align: center;
}

.box:hover{

    background-color: black;
    color: white;
    cursor: pointer;
}
   
.about{
    text-align: center;
    margin-top: 50px;
   
}

.contact{
    margin-top: 30px;
    background-color: black;
    color: white;
    text-align: center;
   margin-bottom: 50px;
   padding: 20px;

}